@page "/"

<PageTitle>Predictive Keyboard</PageTitle>

<h1>Hello,s c!</h1>

Welcome to your new app @somePotato aaaaaaaaaa

<SurveyPrompt Title="asdasd" />
<button @onclick="HandleClick">Click me</button>

@code {
    private string somePotato = "sas";
    private void HandleClick()
    {
        this.somePotato += "hi";
    }
}