.keyboard-entry {
    flex: 33%;
}

.keyboard-row {
    display: flex;
    flex-direction: row;
    flex: auto;
}

.keyboard-container {
    display: flex;
    flex-direction: column;
    flex: auto;
}
