@using Lib.Entities
@inject HttpClient Http

@if (possibleModels.Any() && !loadingModel)
{
    <h2>Models</h2>
    <p>Currently loaded model: <b>@loadedModelName</b></p>
    <ul>

        @foreach (var category in possibleModels.Keys)
        {
            <li>
                <b>@category</b>
                <ul>
                    @foreach (var model in possibleModels[category])
                    {
                        <li class="model-picker-element" @onclick="() => LoadPreBakedModel(model)">@model.Name (@((model.ByteSize/1_000_000).ToString("N2"))MB)</li>
                    }
                </ul>
            </li>
        }
    </ul>

}


@code {
    [Parameter, EditorRequired]
    public Action<MarkovEnsemble>? OnNewModelLoaded { get; set; } = null;

    [Parameter]
    public Action? OnNewModelStartLoading { get; set; } = null;

    private Dictionary<string, List<ModelFile>> possibleModels = new Dictionary<string, List<ModelFile>>();
    private string loadedModelName = "NONE";
    private bool loadingModel = false;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await FetchPossibleModels();
    }

    private async Task FetchPossibleModels()
    {
        var data = await Http.GetFromJsonAsync<ModelIndex>("api/data/baked-models/index.json");
        if (data?.modelFilesForCategory != null)
        {
            possibleModels = data.modelFilesForCategory;
        }
    }

    private async Task LoadPreBakedModel(ModelFile modelFile)
    {
        var modelName = modelFile.ApiPath;

        loadingModel = true;
        if (OnNewModelStartLoading != null)
            OnNewModelStartLoading();

        var data = await Http.GetByteArrayAsync($"api/data/baked-models/{modelName}");
        Console.Write($"Loaded {modelName} from server");

        var model = MarkovEnsemble.FromCompressedData(data);
        Console.Write($"Created MarkovEnsemble with {modelName} data");

        loadedModelName = modelFile.Name;

        if (OnNewModelLoaded != null)
            OnNewModelLoaded(model);

        loadingModel = false;
    }

}
